@import "variables";

.note-preview
{
    display: flex;
    flex-direction: column;
    height:80px;
    padding: 30px 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid $project-color-selector;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &.selected
    {
        background-color:  $project-color-selector;
    }

    .title, .body, .date
    {
    
        width: 50%;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-top:auto;
        white-space: nowrap;
        min-height: 20px;
    }

    .title
    {
        font-weight: bold;
    }

    .date
    {
        color: grey;
        margin-bottom: 8px;
    }

}